@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

@page {
  margin-top: 1in;
  margin-bottom: 1in;
  margin-inline: 1.25in;
}

@media print {
  .no-print {
    display: none;
  }
}

html {
  /* Set defualt font to 12 pt(point) 1pt=1/72inch */
  /* This is Rem's reference */
  font-size: 10pt !important; 
}

section {
  page-break-after: always;
  break-after: page;
}

.page {
  width: 21cm;
  margin-inline: auto;
}




