@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

html {
  font-size: 12pt; /* 默认字体12磅（point） 1pt=1/72inch */
}

@media print {
  .no-print {
    display: none;
  }
}

.page {
  width: 21cm;
  font-size: 12pt;
  /* margin: 1.5cm; */
  margin-inline: auto;
  padding-inline: 2.54cm;
}