@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts.css';

@page {
  margin-top: 1in;
  margin-bottom: 1in;
  margin-inline: 1.25in;
}

@media print {
  .no-print {
    display: none;
  }
}

html {
  font-size: 12pt; /* 默认字体12磅（point） 1pt=1/72inch */
}

section {
  page-break-after: always;
  break-after: page;
}

.page {
  width: 21cm;
  font-size: 12pt;
  margin-inline: auto;
}
